build
Win32
Win64
Debug
Release
*.tmp
hdl/FpgaCore/
*.user
host/include/A2300/libusb_ext.h
host/A2300HostVstudioBuild.ncb
host/A2300HostVstudioBuild.suo
host/apps/DualRxToFile/.directory
host/apps/DualRxToFile/DualRxToFile.ncb
host/apps/DualRxToFile/DualRxToFile.suo
host/apps/DualRxToFile/file1.bds
host/apps/InvensenseTeapotDemo/TeaPot.ncb
host/apps/InvensenseTeapotDemo/TeaPot.sdf
host/apps/InvensenseTeapotDemo/TeaPot.sln.docstates.suo
host/apps/InvensenseTeapotDemo/TeaPot.sln.old
host/apps/InvensenseTeapotDemo/TeaPot.suo
host/apps/InvensenseTeapotDemo/TeaPot.suo.old
host/apps/InvensenseTeapotDemo/TeaPot.v11.suo
host/apps/InvensenseTeapotDemo/TeaPot.vcproj.8.00.old
host/apps/InvensenseTeapotDemo/TeaPot.vcxproj.filters
host/apps/InvensenseTeapotDemo/UpgradeLog.XML
host/apps/InvensenseTeapotDemo/UpgradeLog2.XML
host/apps/InvensenseTeapotDemo/gl/README-win32.txt
